.ec2-panel-header {
    color: #ffffff !important;
    background-image: url("/images/titlebarbg.jpg") !important;
    border: solid 1px #0000c0 !important;
}

.ec2-navigation {
    color: #333333;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.ec2-navigation-selected {
    color: #ff8000;
}
